/* Make the modal background transparent */
.custom-modal .modal-content {
    background: transparent;
    border: none;
    box-shadow: none;
  }
  
  /* Optional: Make the backdrop semi-transparent */
  .custom-modal .modal-backdrop {
    background-color: rgba(0, 0, 0, 0.8); /* Dark background with transparency */
  }
  .project-card-view {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  
  .project-card-footer {
    padding: 10px;
    background-color: transparent; /* Optional background color for footer */
    border-top: 1px solid #a24dd386; /* Optional border for separation */
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  .live-button {
    margin-top: 10px;
  }
  /* Default styling for larger screens */
.enlarged-image {
  width: 130%;       /* Default width for enlarged image */
  max-width: 700px; /* Default max width */
  margin: 0 10px;
}

/* Mobile-specific styling for enlarged image */
@media (max-width: 768px) { /* Adjust 768px as needed for your target device */
  .enlarged-image {
    width: 100%;       /* Full width for mobile */
    max-width: 90%;    /* Optional: slightly reduce max width on mobile */
    margin: 0 5px;     /* Smaller margin for better fit */
  }
}
