/* Full-height wrapper for contact page */
.contact-page-wrapper {
    position: relative;
    min-height: 100vh;
    padding-bottom: 60px; /* Space for footer */
    display: flex;
    flex-direction: column;
  }
  
  /* Contact section for contact page only */
  .contact-page-section {
    flex: 1;
    padding-top: 150px !important;
    padding-bottom: 30px !important;
    background-image: var(--section-background-color) !important;
    color: white !important;
  }
  
  /* Contact page title styling */
  .contact-page-title {
    color: var(--imp-text-color) !important;
    font-size: 2.6em;
    text-align: right;
  }
  
  /* Contact description styling */
  .contact-page-description {
    font-size: 1.2em;
    color: white;
    text-align: right;
  }
  
  /* Contact body text styling */
  .contact-page-body {
    font-size: 1em;
    color: white;
    text-align: right;
  }
  
  /* Contact information section styling */
  .contact-page-info {
    color: white;
    font-size: 1.1em;
  }
  
  /* Contact form container styling */
  .contact-form {
    background-color: rgba(23, 21, 41, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 10;
  }
  
  /* Contact form labels styling */
  .contact-page-label {
    color: var(--imp-text-color);
  }
  
  /* Contact input fields styling */
  .contact-input {
    background-color: transparent;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.6);
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
  }
  
  /* Focus styling for contact input fields */
  .contact-input:focus {
    background-color: transparent;
    color: white;
    box-shadow: none;
    border-color: rgba(255, 255, 255, 0.8); /* Slightly brighter border on focus */
  }
  
  /* Contact form button styling */
  .contact-btn {
    background-color: var(--imp-text-color);
    border: none;
    transition: background-color 0.3s ease;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .contact-btn:hover {
    background-color: #a24dd386;
  }
  